.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espaço entre as imagens */
    flex-wrap: wrap; /* Garante responsividade */
    margin: 20px auto;
    padding: 20px;
}

.image-frame {
    padding: 10px;
    border-radius: 10px; /* Bordas arredondadas */
}


.img-central {
    width: 150px; /* Tamanho fixo para todas as imagens */
    height: 150px; /* Tamanho fixo para todas as imagens */
    object-fit: contain; /* Garante que a imagem inteira seja visível sem distorção */
    display: block;
}

@media (max-width: 600px) {
    .image-container {
        flex-direction: column; /* Empilha imagens em telas pequenas */
    }

    .image-frame {
        width: 100%; /* Ocupa a largura total em telas pequenas */
        max-width: 200px; /* Limita a largura máxima */
    }
}